<div id="show-content">
  <% full_text = "" %>
  <% @article.text.each_line do |line| %>
    <% if line.start_with? "!" %>
      <% path = image_path(line.split("(")[1].strip[0..-2]) %>
      <% line = line.split("(")[0] + "(" + path + ")" %>
    <% end %>
    <% full_text += line %>
  <% end %>

  <% html = markdown(full_text) %>
  <% revised_html = "" %>
  <% html.each_line do |line| %>
    <% if line.start_with? "<p><img" %>
      <% if (line.include? "(") && (/\(\d+\)/.match?(line)) %>
        <% line.sub! ">\(", " width=\"" %>
        <% line.sub! "\)", "\">" %>
      <% end %>
      <% if (line.include? "(") && (/\(\w+\)/.match?(line)) %>
        <% line.sub! "<p>", "<p style=\"text-align:center\">" %>
        <% line.gsub! /\(\w+\)/, "<br>" %>
      <% end %>
      <% line.sub! "\">", "\"><div class=\"caption\">" %>
      <% line.sub! "</p>", "</div></p>" %>
    <% end %>
    <% revised_html += line %>
  <% end %>

  <%= react_component("ShowCard", {title: @article.title,
                                   text: revised_html,
                                   date: @article.date.strftime('%b %d %Y'),
                                   back: "/articles"}) %>

  <a id="like"></a>
  <div class="like-button">
    <%= button_to like_path(@article), method: "put" do%>
      <%= fa_icon "thumbs-o-up" %>
      <p><%= @article.likes.count %></p>
    <% end %>
  </div>
</div>
