<div id="show-content">
  <% full_text = "" %>
  <% @project.text.each_line do |line| %>
    <% if line.start_with? "!" %>
      <% path = image_path(line.split("(")[1].strip[0..-2]) %>
      <% line = line.split("(")[0] + "(" + path + ")" %>
    <% end %>
    <% full_text += line %>
  <% end %>

  <% html = markdown(full_text) %>
  <% revised_html = "" %>
  <% html.each_line do |line| %>
    <% if line.start_with? "<p><img" %>
      <% line.sub! "\">", "\"><div class=\"caption\">" %>
      <% line.sub! "</p>", "</div></p>" %>
    <% end %>
    <% revised_html += line %>
  <% end %>

  <%= react_component("ShowCard", {title: @project.title,
                                   text: revised_html,
                                   date: @project.date.strftime('%b %d %Y'),
                                   back: "/projects"}) %>
</div>
