<div id="show-content">
  <% full_text = "" %>
  <% @project.text.each_line do |line| %>
    <% if line.start_with? "!" %>
      <% path = image_path(line.split("(")[1].strip[0..-2]) %>
      <% line = line.split("(")[0] + "(" + path + ")" %>
    <% end %>
    <% full_text += line %>
  <% end %>
  <% project_text = markdown(full_text) %>
  <%= react_component("ShowCard", {title: @project.title, text: project_text, date: @project.date.strftime('%b %d %Y'), image: @project.image, link: '#', back: "/projects"}) %>
</div>
