
/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

$light-gray: #e9ecef;
$blue: DarkSlateBlue;
$pink: #e83e8c;
$border-radius: 10px;

body {
  line-height: 26px;
}

nav {
  border-bottom: 1px solid $light-gray;

  a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0px 10px;
  }

  #active a {
    background-color: $light-gray;
    border-radius: $border-radius;
    padding-left: 10px;
    padding-right: 8px;
  }
}

#links a {
  color: $blue;

  &:hover {
    color: $pink;
  }
}

a {
  color: $blue;

  &:hover {
    color: $pink;
  }
}

#show-content {
  width: 75%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  .card-title {
    font-size: 30px;
  }

  .card-text {
    padding-top: 10px;
  }
}

#link-content {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#link-box {
  margin-bottom: 20px;

  a {
    color: black;

    &:hover {
      text-decoration: none;

      .card-title {
        color: $blue;
      }
    }
  }
}

.card {
  border-radius: $border-radius;
}

.card-text {
  font-size: 16px;

  pre {
    padding: 10px 10px 10px 10px;
    background-color: $light-gray;
    border-radius: $border-radius;
  }

  blockquote {
    padding-left: 30px;
    border-left: 5px solid $light-gray;
  }

  img {
    border-radius: $border-radius;
    max-width: 100%;
    margin-top: 20px;
  }

  h2 {
    margin-top: 20px;
    font-size: 26px;
    border-bottom: solid 1px $light-gray;
  }

  .caption {
    margin-bottom: 20px;
    text-align: center;
    color: $pink;
    font-style: italic;
    font-size: 0.9em;
    line-height: 18px;
  }
}

.btn-primary {
  background-color: DarkSlateBlue;
  border-color: DarkSlateBlue;

  &:hover {
    background-color: #e83e8c;
    border-color: #e83e8c;
  }
}

