
$light-gray: #e9ecef;
$border-radius: 10px;

.text-box {
  p {
    margin: 0px;
  }
}

#jumbo {
  text-align: center;
  font-size: 20px;
  padding: 20px;

  img.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background: transparent;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 10px 0px;
  }
}


#contact {
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 70px;

  .col {
    border-radius: $border-radius;
    padding-top: 20px;
    &:hover {
      background-color: $light-gray;
      a {
        color: DarkSlateBlue;
        text-decoration: none;
      }
    }
  }

  a {
    color: black;

  }

  i {
    font-size: 40px;
  }
}

#info {
  margin: auto;
  width: 75%;
  padding: 50px 0px 50px 0px;
}
