// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-primary {
  background-color: DarkSlateBlue;
  border-color: DarkSlateBlue;

  &:hover {
    background-color: #e83e8c;
    border-color: #e83e8c;
  }
}
